<a href="https://colab.research.google.com/github/Bunyodbekkk/Predict-Price-of-Airportcard_portfolio/blob/main/Price_of_Airport_card%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
!unzip "/content/aviachipta-narxini-bashorat-qilish.zip" -d "/content/output_folder/"

Archive:  /content/aviachipta-narxini-bashorat-qilish.zip
replace /content/output_folder/sample_solution.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [2]:
df=pd.read_csv("/content/output_folder/train_data.csv")
df=df.drop('id',axis=1)
df.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,Vistara,UK-810,Bangalore,Early_Morning,one,Night,Mumbai,Economy,14.25,21,7212
1,SpiceJet,SG-5094,Hyderabad,Evening,zero,Night,Kolkata,Economy,1.75,7,5292
2,Vistara,UK-846,Bangalore,Morning,one,Evening,Delhi,Business,9.58,5,60553
3,Vistara,UK-706,Kolkata,Morning,one,Evening,Hyderabad,Economy,6.75,28,5760
4,Indigo,6E-5394,Chennai,Early_Morning,zero,Morning,Mumbai,Economy,2.00,4,10712

In [4]:
rep={'Early_Morning':1,'Morning':2,'Afternoon':3,'Evening':4,'Night':5,'Late_Night':6}
reps={'zero':0,'one':1,'two_or_more':2}
repc={'Economy':1,'Business':2}
df['arrival_time'].replace(rep,inplace=True)
df['departure_time'].replace(rep,inplace=True)
df['stops'].replace(reps,inplace=True)
df['class'].replace(repc,inplace=True)
df.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,Vistara,UK-810,Bangalore,1,1,5,Mumbai,1,14.25,21,7212
1,SpiceJet,SG-5094,Hyderabad,4,0,5,Kolkata,1,1.75,7,5292
2,Vistara,UK-846,Bangalore,2,1,4,Delhi,2,9.58,5,60553
3,Vistara,UK-706,Kolkata,2,1,4,Hyderabad,1,6.75,28,5760
4,Indigo,6E-5394,Chennai,1,0,2,Mumbai,1,2.00,4,10712

In [5]:
encoded=pd.get_dummies(df)
encoded.corrwith(encoded['price'])

departure_time                0.027532
stops                         0.121455
arrival_time                 -0.005670
class                         0.937868
duration                      0.213158
                                ...
destination_city_Chennai      0.020512
destination_city_Delhi       -0.064619
destination_city_Hyderabad   -0.016315
destination_city_Kolkata      0.041162
destination_city_Mumbai       0.007472
Length: 1335, dtype: float64

In [6]:
x=encoded.drop('price',axis=1)
y=encoded['price']

In [7]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x=scaler.fit_transform(x)

In [8]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

Decision Tree

In [13]:
from sklearn.tree import DecisionTreeClassifier
tree_model=DecisionTreeClassifier()
tree_model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [14]:
from sklearn import metrics
ypred1=tree_model.predict(xtest)
print('Model aniqligi: ',metrics.accuracy_score(ytest,ypred1))

Model aniqligi:  0.53775

In [ ]:
# conf_mat=metrics.confusion_matrix(ytest,ypred1)
# sns.heatmap(conf_mat,annot=True,fmt='g')
# plt.show()

XGB

In [ ]:
# from xgboost import XGBClassifier
# xgb_model=XGBClassifier()
# xgb_model.fit(xtrain,ytrain)
# ypred2=tree_model.predict(xtest)
# print('Model aniqligi: ',metrics.accuracy_score(ytest,ypred2))

Knn model

In [18]:
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=1)
from sklearn.model_selection import GridSearchCV
pargr={'n_neighbors':np.arange(1,25)}
knn_gs=GridSearchCV(knn,pargr,cv=5)
knn_gs.fit(xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  UserWarning,

GridSearchCV(cv=5, estimator=KNeighborsClassifier(n_neighbors=1),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])})

In [19]:
knn_gs.best_params_

{'n_neighbors': 1}

In [24]:
knn.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=1)

In [25]:
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
ypred=knn.predict(xtest)
print("model_aniqligi: ",metrics.accuracy_score(ytest,ypred))

model_aniqligi:  0.48925