<a href="https://colab.research.google.com/github/Bunyodbekkk/Predict-Price-of-Airportcard_portfolio/blob/main/Update_for_Sertif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
!unzip "/content/aviachipta-narxini-bashorat-qilish.zip" -d "/content/output_folder/"

Archive:  /content/aviachipta-narxini-bashorat-qilish.zip
replace /content/output_folder/sample_solution.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [2]:
df=pd.read_csv("/content/output_folder/train_data.csv")
df=df.drop('id',axis=1)
df.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,Vistara,UK-810,Bangalore,Early_Morning,one,Night,Mumbai,Economy,14.25,21,7212
1,SpiceJet,SG-5094,Hyderabad,Evening,zero,Night,Kolkata,Economy,1.75,7,5292
2,Vistara,UK-846,Bangalore,Morning,one,Evening,Delhi,Business,9.58,5,60553
3,Vistara,UK-706,Kolkata,Morning,one,Evening,Hyderabad,Economy,6.75,28,5760
4,Indigo,6E-5394,Chennai,Early_Morning,zero,Morning,Mumbai,Economy,2.00,4,10712

In [3]:
rep={'Early_Morning':1,'Morning':2,'Afternoon':3,'Evening':4,'Night':5,'Late_Night':6}
reps={'zero':0,'one':1,'two_or_more':2}
repc={'Economy':1,'Business':2}
df['arrival_time'].replace(rep,inplace=True)
df['departure_time'].replace(rep,inplace=True)
df['stops'].replace(reps,inplace=True)
df['class'].replace(repc,inplace=True)
df.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,Vistara,UK-810,Bangalore,1,1,5,Mumbai,1,14.25,21,7212
1,SpiceJet,SG-5094,Hyderabad,4,0,5,Kolkata,1,1.75,7,5292
2,Vistara,UK-846,Bangalore,2,1,4,Delhi,2,9.58,5,60553
3,Vistara,UK-706,Kolkata,2,1,4,Hyderabad,1,6.75,28,5760
4,Indigo,6E-5394,Chennai,1,0,2,Mumbai,1,2.00,4,10712

In [4]:
from sklearn.preprocessing import OrdinalEncoder
ord_enc=OrdinalEncoder()
a=ord_enc.fit_transform(df)

In [5]:
# encoded=pd.get_dummies(df)
# encoded.corrwith(encoded['price'])

In [5]:
df1=pd.DataFrame(a)
a2={0:'airline', 1:'flight', 2:'source_city', 3:'departure_time', 4:'stops',
       5:'arrival_time', 6:'destination_city', 7:'class', 8:'duration', 9:'days_left',
       10:'price'}
df1.rename(columns=a2,inplace=True)

In [6]:

x=df1.drop('price',axis=1)
y=df1['price']

In [7]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x=scaler.fit_transform(x)

In [8]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

In [9]:
xtest.shape

(4000, 10)

In [10]:
xtrain.shape

(16000, 10)

In [11]:
ytest.shape

(4000,)

In [12]:
ytrain.shape

(16000,)

In [13]:
from sklearn.tree import DecisionTreeClassifier
tree_model=DecisionTreeClassifier()
tree_model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [14]:
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
ypred=tree_model.predict(xtest)
print("model_aniqligi: ",metrics.accuracy_score(ytest,ypred))

model_aniqligi:  0.527